.reportes-section {
    padding: 30px;
}

.selects-wrapper {
    height: 150px;
    margin-bottom: 30px;
}

.main-selects, .filter-selects {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.chart1, .chart2, .chart3 {
    width: 800px;
    margin: 0 auto;
}

.filtros-button {
    margin: 20px 0;
    margin-bottom: 0;
}

select {
    margin-bottom: 5px;
}
