form {
    padding: 20px 10px;
    margin: 0 auto;
    border: 1px solid;
}

form .input-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 20px 10px;
}

body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: Segoe UI;
}

img {
    padding: 2%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 16px;
}

footer {
    position: absolute;
    right: 0; bottom: 0; left: 0;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.container {
    margin-left: 20%;
}

.header {
    width: 100%;
    background-color: #11a6d7;
}

.login-form {
    height: 350px;
    width: 500px;
    vertical-align: middle;
    margin: auto;
    margin-top: 80px;
    background-color: #D1E0F0;
    text-align: center;
}

.form-login {
    padding: 20px 150px;
    border: none;
}

.login-button {
    height: 30px;
    width: 150px;
    cursor: pointer;
}

.loginInput {
    width: 20%;
}
