html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #707070;
    font-family: Segoe UI;
}

header {
    padding: 20px 0;
    position: absolute;
    top: 0; right: 0; left: 0;
    background-color: #370A8F;
}

img {
    margin-left: 80px;
}

section {
    position: absolute;
    top: 85px; right: 0; bottom: 50px; left: 0;
    background-color: white;
}

.form-wrapper {
    height: 350px;
    width: 500px;
    position: relative;
    vertical-align: middle;
    margin: auto;
    margin-top: 50px;
    background-color: #D1E0F0;
    text-align: center;
    z-index: 1;
}

form {
    padding: 20px 140px;
    border: none;
}

form .input-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 16px;
}

input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    height: 30px;
    width: 150px;
    padding: 0;
    margin: 20px 10px;
    cursor: pointer;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
