html {
 visibility:hidden; 
}

body{
    background-color: white;
    font-family: Segoe UI;
    height:100%;
    margin: 0;
 }

img{
   
    padding:1%;
    margin: auto;
}

label{
    font-weight: bold;
    font-size: 120%;
}

footer{
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 0 0 2% 0;
    clear: both;
}

#container{
    margin-left: 0%;
}

 #header{
    background-color: #11a6d7;
    width:100%;
    margin: auto;
    margin-bottom: 2%;
 }

 #loginForm{
    text-align: center;
    margin-top: 2%;
    background-color: rgb(209, 224, 240);
    margin: auto;
    width: 60%;
    vertical-align: middle;
}

#logo {
    float:left;
}

#contentContainer {
    width: 95%;
    padding-left: 15%;

}

#contentLeft {
    float: left;
    width: 40%;
}

#content {
    margin-left: 10%;
    padding-top: 0.5%;
}

/*
    Navigation Bar style and dropdown.
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ddd;
}

li a {
    display: inline-block;
    height: 33.06px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}


li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.formHeader{
    font-size: 120%;
}

